# LAB TASK 8

# 1. Load the diamonds dataset into a Pandas dataframe and display the first 5 rows.

In [2]:
import pandas as pd
df=pd.read_csv("diamonds.csv")
print(df.head())

   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75

# 2. What is the average price of a diamond in the dataset?

In [3]:
df2 = df["price"].mean()
print(df2)

3932.799721913237

# 3. How many diamonds have a price greater than 5000 dollar?

In [24]:
len(df[df['price'].gt(5000)])

14714

# 4. What is the minimum and maximum depth of a diamond in the dataset?

In [17]:
print("min : ",df["depth"].min())
print("max : ",df["depth"].max())

min :  43.0
max :  79.0

# 5. What is the average price per carat of a diamond in the dataset?

In [21]:
df2=df.groupby('carat').price.mean()

9242.66956970988

# 6. How many diamonds have a carat weight greater than 1.5 and a price less than 10,000 dollars?

In [25]:
len(df[(df["carat"] > 1.5) & (df["price"] < 10000)])

1423

# 7. What is the average price of a diamond with a cut of "Ideal" and a carat weight greater than 1?

In [27]:
df2=df[(df['cut'] =='Ideal')& (df['carat']>1)]
avg_price=df2['price'].mean()
print(avg_price)

8674.226598375133

# 8. How many diamonds have a clarity of "VS1" and a cut of "Very Good"?

In [29]:
df2=df[(df['clarity'] =='VS1')& (df['cut']=='Very Good')]
a=df2.shape[0]
print(a)

1775

# 9. Create a new column called "price_per_weight" that shows the price per carat of each diamond.

In [30]:
df['price_per_weight'] =df['price'] / df['carat']
print(df)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z  price_per_weight
0      3.98  2.43       1417.391304
1      3.84  2.31       1552.380952
2      4.07  2.31       1421.739130
3      4.23  2.63       1151.724138
4      4.35  2.75       1080.645161
...     ...   ...               ...
53935  5.76  3.50       3829.166667
53936  5.75  3.61       3829.166667
53937  5.68  3.56       3938.571429
53938  6.12  3.74       3205.813953
53939  5.87  3.64       3676.000000

[53940 rows x 12 columns]

# 10. Display the top 10 most expensive diamonds in the dataset.

In [32]:
t_m_e_d=df.sort_values(by='price',ascending=False).head(10)
print(t_m_e_d)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
27749       27750   2.29    Premium     I     VS2   60.8   60.0  18823  8.50
27748       27749   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90
27747       27748   1.51      Ideal     G      IF   61.7   55.0  18806  7.37
27746       27747   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20
27745       27746   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95
27744       27745   2.29    Premium     I     SI1   61.8   59.0  18797  8.52
27742       27743   2.04    Premium     H     SI1   58.1   60.0  18795  8.37
27743       27744   2.00    Premium     I     VS1   60.8   59.0  18795  8.13
27740       27741   1.71    Premium     F     VS2   62.3   59.0  18791  7.57
27741       27742   2.15      Ideal     G     SI2   62.6   54.0  18791  8.29

          y     z  price_per_weight
27749  8.47  5.16       8219.650655
27748  7.97  5.04       9409.000000
27747  7.41  4.56      12454.304636
27746  8.13  5.11       9084.057971
27745  8.00  5.01       9401.500000
27744  8.45  5.24       8208.296943
27742  8.28  4.84       9213.235294
27743  8.02  4.91       9397.500000
27740  7.53  4.70      10988.888889
27741  8.35  5.21       8740.000000

# 11. Display the number of diamonds for each cut category.

In [34]:
cut_count=df['cut'].value_counts()
print(cut_count)

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

# 12. What is the average price of a diamond with a color of "D" and a clarity of "IF".

In [38]:
df2=df[(df['color'] =='D')& (df['clarity']=='IF')]
avg_price=df2['price'].mean()
print(round(avg_price,2))

8307.37